.item {
  height: 118px;
  width: 142px;
  display: inline-block;
  border-radius: 8px;
  background-size: cover;
}

.controlActive {
  color: cornflowerblue !important;
  cursor: pointer;
}
.controlButton {
  color: lightgray;
  width: 32px !important;
  height: 32px !important;
}
.controlActive:hover {
  color: lightskyblue;
}
.wrapper {
  display: flex;
  align-items: center;
}

.carouselWrapper {
  max-width: calc(100% - 70px);
  display: inline-block;
}
